follow-ups Workflow/Followup Scheduler.json
{
  "name": "Followup Scheduler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "followup-scheduler",
        "options": {}
      },
      "id": "c233429f-70c5-4329-82f8-1148be691153",
      "name": "Inbound Followup Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -3648,
        432
      ],
      "typeVersion": 2.1,
      "webhookId": "393dd77f-0d26-44b7-a63a-fa01f422054a"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json ?? {};\nconst body = payload.body && typeof payload.body === 'object' ? payload.body : payload;\n\nconst messageIdRaw =\n  body.message_id ??\n  body.messageId ??\n  body.inbox_message_id ??\n  body.data?.message_id ??\n  null;\n\nconst messageId = messageIdRaw ? String(messageIdRaw).trim() : '';\n\nconst receivedAtRaw =\n  body.received_at ??\n  body.receivedAt ??\n  body.event_at ??\n  body.created_at ??\n  null;\n\nconst receivedAt = receivedAtRaw ? new Date(receivedAtRaw).toISOString() : new Date().toISOString();\n\nconst webhookItem = $input.first()?.json ?? {};\nconst requestMetadata = {\n  headers: webhookItem.headers ?? {},\n  query: webhookItem.query ?? {},\n  params: webhookItem.params ?? {},\n  webhook_body_keys: Object.keys(body ?? {}),\n};\n\nreturn [\n  {\n    json: {\n      message_id: messageId || null,\n      received_at: receivedAt,\n      request_metadata: requestMetadata,\n      trigger_valid: Boolean(messageId),\n      trigger_invalid_reason: messageId ? null : 'missing_message_id',\n      scheduler_source: 'followup_scheduler_webhook',\n    },\n  },\n];"
      },
      "id": "25a2a421-87ab-44a8-97c0-97fd7e02736f",
      "name": "Normalize Trigger Input",
      "type": "n8n-nodes-base.code",
      "position": [
        -3424,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inbox_messages",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($('Normalize Trigger Input').item.json.message_id || '00000000-0000-0000-0000-000000000000') }}"
      },
      "id": "d071a0c0-ff57-41cb-8e3a-053ec29ea4cf",
      "name": "Load Inbound Message",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3200,
        432
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Normalize Trigger Input').item.json;\nconst rows = $input.all().map((item) => item.json).filter((row) => row && Object.keys(row).length > 0);\nconst row = rows.length > 0 ? rows[0] : null;\n\nconst normalizePlatform = (value) => {\n  const v = String(value ?? '').trim().toLowerCase();\n  if (['facebook', 'facebook_page', 'facebook-messenger', 'facebook_messenger', 'messenger'].includes(v)) {\n    return 'page';\n  }\n  return v;\n};\n\nif (!trigger.trigger_valid) {\n  return [\n    {\n      json: {\n        message_valid: false,\n        message_skip_reason: trigger.trigger_invalid_reason,\n        should_log_skip: false,\n        org_id: null,\n        conversation_id: null,\n        contact_id: null,\n        platform: null,\n        triggered_by_message_id: trigger.message_id,\n        received_at: trigger.received_at,\n        request_metadata: trigger.request_metadata,\n      },\n    },\n  ];\n}\n\nif (!row || !row.id) {\n  return [\n    {\n      json: {\n        message_valid: false,\n        message_skip_reason: 'inbound_message_not_found',\n        should_log_skip: false,\n        org_id: null,\n        conversation_id: null,\n        contact_id: null,\n        platform: null,\n        triggered_by_message_id: trigger.message_id,\n        received_at: trigger.received_at,\n        request_metadata: trigger.request_metadata,\n      },\n    },\n  ];\n}\n\nconst isInbound = String(row.direction ?? '').toLowerCase() === 'inbound';\nconst hasCore = Boolean(row.conversation_id && row.org_id);\n\nreturn [\n  {\n    json: {\n      message_valid: Boolean(isInbound && hasCore),\n      message_skip_reason: isInbound && hasCore ? null : (!isInbound ? 'message_not_inbound' : 'message_missing_core_fields'),\n      should_log_skip: Boolean(row.org_id && row.conversation_id && (!isInbound || !hasCore)),\n      org_id: row.org_id ?? null,\n      conversation_id: row.conversation_id ?? null,\n      contact_id: null,\n      platform: normalizePlatform(row.platform),\n      triggered_by_message_id: row.id,\n      latest_inbound_at: row.created_at ? new Date(row.created_at).toISOString() : trigger.received_at,\n      inbound_message_created_at: row.created_at ? new Date(row.created_at).toISOString() : null,\n      inbound_message: row,\n      received_at: trigger.received_at,\n      request_metadata: trigger.request_metadata,\n    },\n  },\n];"
      },
      "id": "f9dc6cf0-2ed0-4e4e-99fe-b9fd120817b8",
      "name": "Build Message Context",
      "type": "n8n-nodes-base.code",
      "position": [
        -2976,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51bfc863-87e2-4f82-a9e5-136e4d7ef70a",
              "leftValue": "={{ $json.message_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6a11163-5b51-4696-816f-79ccb24d06a6",
      "name": "If Message Valid",
      "type": "n8n-nodes-base.if",
      "position": [
        -2752,
        432
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inbox_conversations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($('Build Message Context').item.json.conversation_id || '00000000-0000-0000-0000-000000000000') }}"
      },
      "id": "2f9c2d7a-64df-4289-ac6e-1f6be5342d86",
      "name": "Load Conversation",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -2528,
        288
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $('Build Message Context').item.json;\nconst rows = $input.all().map((item) => item.json).filter((row) => row && Object.keys(row).length > 0);\nconst conversation = rows.length > 0 ? rows[0] : null;\n\nconst normalizePlatform = (value) => {\n  const v = String(value ?? '').trim().toLowerCase();\n  if (['facebook', 'facebook_page', 'facebook-messenger', 'facebook_messenger', 'messenger'].includes(v)) {\n    return 'page';\n  }\n  return v;\n};\n\nlet reason = null;\nif (!message.message_valid) {\n  reason = message.message_skip_reason || 'invalid_message';\n} else if (!conversation || !conversation.id) {\n  reason = 'conversation_not_found';\n} else if (String(conversation.status ?? '').toLowerCase() === 'closed') {\n  reason = 'conversation_closed';\n} else if (conversation.ai_paused === true) {\n  reason = 'conversation_ai_paused';\n}\n\nconst lastInboundCandidates = [message.latest_inbound_at, conversation?.last_inbound_at]\n  .filter(Boolean)\n  .map((value) => new Date(value).getTime())\n  .filter((value) => Number.isFinite(value));\n\nconst latestInboundAt = lastInboundCandidates.length > 0\n  ? new Date(Math.max(...lastInboundCandidates)).toISOString()\n  : (message.latest_inbound_at || new Date().toISOString());\n\nreturn [\n  {\n    json: {\n      ...message,\n      conversation_valid: reason === null,\n      conversation_skip_reason: reason,\n      should_log_skip: reason !== null ? Boolean(message.org_id && message.conversation_id) : false,\n      contact_id: conversation?.contact_id ?? null,\n      platform: normalizePlatform(conversation?.platform ?? message.platform),\n      conversation: conversation ?? null,\n      conversation_status: conversation?.status ?? null,\n      ai_paused: conversation?.ai_paused ?? false,\n      latest_inbound_at: latestInboundAt,\n    },\n  },\n];"
      },
      "id": "3f47dae4-43f8-4068-bfa2-f43c7619850c",
      "name": "Build Conversation Context",
      "type": "n8n-nodes-base.code",
      "position": [
        -2304,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75f727db-9004-4772-bde1-a1d00e4ed2be",
              "leftValue": "={{ $json.conversation_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e5d92da-3767-4a76-8250-8dc46fdac6b7",
      "name": "If Conversation Eligible",
      "type": "n8n-nodes-base.if",
      "position": [
        -2080,
        288
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inbox_contacts",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($('Build Conversation Context').item.json.contact_id || '00000000-0000-0000-0000-000000000000') }}"
      },
      "id": "f282af19-b54f-4510-9527-8d9b1c544e5b",
      "name": "Load Contact",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -1856,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "followup_settings",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Build Conversation Context').item.json.org_id || '00000000-0000-0000-0000-000000000000') }}"
      },
      "id": "8ca624bd-290f-409a-951b-f92901fdd949",
      "name": "Load Followup Settings",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -1632,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "followup_tasks",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'conversation_id=eq.' + encodeURIComponent($('Build Conversation Context').item.json.conversation_id || '00000000-0000-0000-0000-000000000000') }}"
      },
      "id": "53215870-6c06-42d7-abf3-f7b096fe14a0",
      "name": "Load Existing Followup Tasks",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -1408,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "org_channel_accounts",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Build Conversation Context').item.json.org_id || '00000000-0000-0000-0000-000000000000') + '&platform=eq.' + encodeURIComponent($('Build Conversation Context').item.json.platform || 'whatsapp') }}"
      },
      "id": "82329ebd-662c-48b6-a4b8-e1241921fd59",
      "name": "Load Active Channel Account",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -1184,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const conversationCtx = $('Build Conversation Context').item.json;\nconst contactRows = $('Load Contact').all().map((item) => item.json).filter((row) => row && row.id);\nconst settingsRows = $('Load Followup Settings').all().map((item) => item.json).filter((row) => row && (row.id || row.org_id));\nconst taskRows = $('Load Existing Followup Tasks').all().map((item) => item.json).filter((row) => row && row.id);\nconst accountRows = $input.all().map((item) => item.json).filter((row) => row && row.id);\n\nconst normalizePlatform = (value) => {\n  const v = String(value ?? '').trim().toLowerCase();\n  if (['facebook', 'facebook_page', 'facebook-messenger', 'facebook_messenger', 'messenger'].includes(v)) {\n    return 'page';\n  }\n  return v;\n};\n\nconst normalizeChannels = (value) => {\n  if (Array.isArray(value)) {\n    return value.map((entry) => normalizePlatform(entry)).filter(Boolean);\n  }\n  if (typeof value === 'string' && value.trim()) {\n    return value\n      .replace(/[{}]/g, '')\n      .split(',')\n      .map((entry) => normalizePlatform(entry.replace(/\"/g, '').trim()))\n      .filter(Boolean);\n  }\n  return [];\n};\n\nconst safeInt = (value, fallback) => {\n  const parsed = Number.parseInt(value, 10);\n  return Number.isFinite(parsed) ? parsed : fallback;\n};\n\nconst parseTimeParts = (value, fallback) => {\n  const raw = String(value ?? fallback).trim();\n  const match = raw.match(/^(\\d{1,2}):(\\d{2})(?::(\\d{2}))?$/);\n  if (!match) {\n    const fb = String(fallback);\n    const fbMatch = fb.match(/^(\\d{1,2}):(\\d{2})(?::(\\d{2}))?$/);\n    return fbMatch ? { hour: Number(fbMatch[1]), minute: Number(fbMatch[2]), second: Number(fbMatch[3] || 0) } : { hour: 9, minute: 0, second: 0 };\n  }\n  return { hour: Number(match[1]), minute: Number(match[2]), second: Number(match[3] || 0) };\n};\n\nconst adjustToBusinessWindowUtc = (dueAtIso, startTime, endTime) => {\n  const dueDate = new Date(dueAtIso);\n  const start = parseTimeParts(startTime, '09:00:00');\n  const end = parseTimeParts(endTime, '18:00:00');\n\n  let adjusted = new Date(dueDate);\n  const overnight = (start.hour * 3600 + start.minute * 60 + start.second) >= (end.hour * 3600 + end.minute * 60 + end.second);\n\n  const setToWindow = (baseDate, parts) => {\n    const next = new Date(baseDate);\n    next.setUTCHours(parts.hour, parts.minute, parts.second, 0);\n    return next;\n  };\n\n  const windowStart = setToWindow(adjusted, start);\n  let windowEnd = setToWindow(adjusted, end);\n  if (overnight) {\n    windowEnd.setUTCDate(windowEnd.getUTCDate() + 1);\n  }\n\n  if (!overnight) {\n    if (adjusted < windowStart) {\n      adjusted = windowStart;\n    } else if (adjusted >= windowEnd) {\n      const nextDay = new Date(windowStart);\n      nextDay.setUTCDate(nextDay.getUTCDate() + 1);\n      adjusted = nextDay;\n    }\n  } else {\n    const inWindow = adjusted >= windowStart || adjusted < windowEnd;\n    if (!inWindow) {\n      adjusted = windowStart;\n    }\n  }\n\n  return adjusted.toISOString();\n};\n\nconst pickAccount = (rows) => {\n  if (!rows.length) return null;\n  return [...rows].sort((a, b) => {\n    const aCreated = a.created_at ? new Date(a.created_at).getTime() : 0;\n    const bCreated = b.created_at ? new Date(b.created_at).getTime() : 0;\n    if (aCreated !== bCreated) return aCreated - bCreated;\n    return String(a.id).localeCompare(String(b.id));\n  })[0];\n};\n\nconst settings = settingsRows.length > 0 ? settingsRows[0] : null;\nconst contact = contactRows.length > 0 ? contactRows[0] : null;\nconst account = pickAccount(accountRows);\nconst nowIso = new Date().toISOString();\n\nlet shouldSkip = false;\nlet skipReason = null;\n\nif (!conversationCtx.message_valid) {\n  shouldSkip = true;\n  skipReason = conversationCtx.message_skip_reason || 'invalid_inbound_message';\n} else if (!conversationCtx.conversation_valid) {\n  shouldSkip = true;\n  skipReason = conversationCtx.conversation_skip_reason || 'conversation_not_eligible';\n}\n\nconst platform = normalizePlatform(conversationCtx.platform);\nconst activeChannels = normalizeChannels(settings?.active_channels);\nconst enabled = settings?.enabled === true;\nconst triggerCondition = String(settings?.trigger_condition ?? 'no_customer_reply');\nconst maxPerConversation = Math.max(1, safeInt(settings?.max_per_conversation, 1));\nconst effectiveTaskCount = taskRows.filter((task) => ['sent', 'failed'].includes(String(task.status ?? '').toLowerCase())).length;\n\nif (!shouldSkip && !enabled) {\n  shouldSkip = true;\n  skipReason = settings ? 'followup_disabled' : 'followup_settings_missing';\n}\nif (!shouldSkip && triggerCondition !== 'no_customer_reply') {\n  shouldSkip = true;\n  skipReason = 'unsupported_trigger_condition';\n}\nif (!shouldSkip && !['whatsapp', 'page', 'instagram'].includes(platform)) {\n  shouldSkip = true;\n  skipReason = 'unsupported_platform';\n}\nif (!shouldSkip && !activeChannels.includes(platform)) {\n  shouldSkip = true;\n  skipReason = 'platform_not_active_in_followup_settings';\n}\nif (!shouldSkip && effectiveTaskCount >= maxPerConversation) {\n  shouldSkip = true;\n  skipReason = 'max_per_conversation_exceeded';\n}\nif (!shouldSkip && conversationCtx.triggered_by_message_id) {\n  const dupTask = taskRows.find((task) => String(task.triggered_by_message_id ?? '') === String(conversationCtx.triggered_by_message_id));\n  if (dupTask) {\n    shouldSkip = true;\n    skipReason = 'duplicate_trigger_message_already_scheduled';\n  }\n}\nif (!shouldSkip && !account) {\n  shouldSkip = true;\n  skipReason = 'no_active_org_channel_account';\n}\n\nconst scheduledOpenCount = taskRows.filter((task) => String(task.status ?? '').toLowerCase() === 'scheduled').length;\nconst claimedOpenCount = taskRows.filter((task) => String(task.status ?? '').toLowerCase() === 'claimed').length;\nconst waitingTemplateOpenCount = taskRows.filter((task) => String(task.status ?? '').toLowerCase() === 'waiting_template_approval').length;\nconst cancelledTaskIds = taskRows\n  .filter((task) => ['scheduled', 'claimed', 'waiting_template_approval'].includes(String(task.status ?? '').toLowerCase()))\n  .map((task) => task.id);\n\nconst latestInboundAt = conversationCtx.latest_inbound_at || conversationCtx.inbound_message_created_at || nowIso;\nconst defaultDelayMinutes = Math.max(1, safeInt(settings?.default_delay_minutes, 60));\nconst dueAtBase = new Date(latestInboundAt);\ndueAtBase.setUTCMinutes(dueAtBase.getUTCMinutes() + defaultDelayMinutes);\n\nlet dueAt = dueAtBase.toISOString();\nlet dueAdjustedForBusinessHours = false;\n\nif (!shouldSkip && settings?.business_hours_enabled === true) {\n  const adjusted = adjustToBusinessWindowUtc(dueAt, settings?.business_start ?? '09:00:00', settings?.business_end ?? '18:00:00');\n  dueAdjustedForBusinessHours = adjusted !== dueAt;\n  dueAt = adjusted;\n}\n\nlet requiresTemplate = false;\nlet templateName = settings?.whatsapp_template_name ?? null;\nlet templateLanguage = settings?.whatsapp_template_language ?? null;\nlet templateStatus = settings?.whatsapp_template_status ?? null;\nlet waitingForTemplateApproval = false;\nlet blockedReason = null;\nlet taskStatus = 'scheduled';\n\nif (!shouldSkip && platform === 'whatsapp' && settings?.whatsapp_template_required_after_24h === true) {\n  const dueMs = new Date(dueAt).getTime();\n  const inboundMs = new Date(latestInboundAt).getTime();\n  requiresTemplate = Number.isFinite(dueMs) && Number.isFinite(inboundMs) && (dueMs - inboundMs) > (24 * 60 * 60 * 1000);\n  if (requiresTemplate) {\n    const approved = String(templateStatus ?? '').trim().toLowerCase() === 'approved';\n    if (!templateName || !templateLanguage) {\n      waitingForTemplateApproval = true;\n      blockedReason = 'missing_whatsapp_template_assignment';\n      taskStatus = 'waiting_template_approval';\n    } else if (!approved) {\n      waitingForTemplateApproval = true;\n      blockedReason = 'whatsapp_template_not_approved';\n      taskStatus = 'waiting_template_approval';\n    }\n  }\n}\n\nconst scheduleSkipLogDetails = {\n  reason: skipReason,\n  platform,\n  message_id: conversationCtx.triggered_by_message_id,\n  conversation_id: conversationCtx.conversation_id,\n  org_id: conversationCtx.org_id,\n  enabled,\n  trigger_condition: triggerCondition,\n  active_channels: activeChannels,\n  effective_task_count: effectiveTaskCount,\n  max_per_conversation: maxPerConversation,\n};\n\nconst cancelledPreviousOpenLogDetails = {\n  cancelled_task_ids: cancelledTaskIds,\n  cancelled_counts: {\n    scheduled: scheduledOpenCount,\n    claimed: claimedOpenCount,\n    waiting_template_approval: waitingTemplateOpenCount,\n  },\n  reason: 'new_inbound_message_for_conversation',\n  message_id: conversationCtx.triggered_by_message_id,\n  conversation_id: conversationCtx.conversation_id,\n};\n\nconst scheduledLogDetails = {\n  due_at: dueAt,\n  requires_template: requiresTemplate,\n  template_name: templateName,\n  template_language: templateLanguage,\n  template_status: templateStatus,\n  latest_inbound_at: latestInboundAt,\n  platform,\n  message_id: conversationCtx.triggered_by_message_id,\n  conversation_id: conversationCtx.conversation_id,\n  org_channel_account_id: account?.id ?? null,\n};\n\nconst templateRequiredLogDetails = {\n  due_at: dueAt,\n  latest_inbound_at: latestInboundAt,\n  template_name: templateName,\n  template_language: templateLanguage,\n  template_status: templateStatus,\n  blocked_reason: blockedReason,\n  platform,\n  conversation_id: conversationCtx.conversation_id,\n  message_id: conversationCtx.triggered_by_message_id,\n};\n\nconst waitingTemplateLogDetails = {\n  due_at: dueAt,\n  waiting_for_template_approval: waitingForTemplateApproval,\n  blocked_reason: blockedReason,\n  template_name: templateName,\n  template_language: templateLanguage,\n  template_status: templateStatus,\n};\n\nconst deferredBusinessHoursLogDetails = {\n  original_due_at: dueAtBase.toISOString(),\n  adjusted_due_at: dueAt,\n  business_start: settings?.business_start ?? '09:00:00',\n  business_end: settings?.business_end ?? '18:00:00',\n  policy_timezone: 'UTC',\n};\n\nreturn [\n  {\n    json: {\n      org_id: conversationCtx.org_id,\n      conversation_id: conversationCtx.conversation_id,\n      contact_id: conversationCtx.contact_id ?? contact?.id ?? null,\n      platform,\n      triggered_by_message_id: conversationCtx.triggered_by_message_id,\n      latest_inbound_at: latestInboundAt,\n      org_channel_account_id: account?.id ?? null,\n      should_skip: shouldSkip,\n      should_log_skip: shouldSkip && Boolean(conversationCtx.org_id && conversationCtx.conversation_id),\n      skip_reason: skipReason,\n      has_scheduled_open: scheduledOpenCount > 0,\n      has_claimed_open: claimedOpenCount > 0,\n      has_waiting_template_open: waitingTemplateOpenCount > 0,\n      any_open_to_cancel: cancelledTaskIds.length > 0,\n      due_at: dueAt,\n      due_adjusted_for_business_hours: dueAdjustedForBusinessHours,\n      requires_template: requiresTemplate,\n      template_name: templateName,\n      template_language: templateLanguage,\n      template_status: templateStatus,\n      waiting_for_template_approval: waitingForTemplateApproval,\n      blocked_reason: blockedReason,\n      task_status: taskStatus,\n      schedule_skip_log_details: scheduleSkipLogDetails,\n      cancelled_previous_open_log_details: cancelledPreviousOpenLogDetails,\n      scheduled_log_details: scheduledLogDetails,\n      template_required_log_details: templateRequiredLogDetails,\n      waiting_template_log_details: waitingTemplateLogDetails,\n      deferred_business_hours_log_details: deferredBusinessHoursLogDetails,\n      created_at: nowIso,\n      updated_at: nowIso,\n      claimed_at: null,\n      sent_at: null,\n      cancelled_at: null,\n      failed_at: null,\n      resolved_message: null,\n      resolved_language: null,\n      provider_message_id: null,\n      provider_response: null,\n      error_message: null,\n      notification_state: null,\n    },\n  },\n];"
      },
      "id": "e25903fd-bb03-487a-93a5-e0fff61ac76a",
      "name": "Build Scheduling Decision",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "101aaeb1-8da4-4509-b1ca-70da07f358d3",
              "leftValue": "={{ $json.should_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f5eb6a7-f2e3-4149-84c4-2baa26605a04",
      "name": "If Should Skip Scheduling",
      "type": "n8n-nodes-base.if",
      "position": [
        -736,
        176
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'schedule_skipped' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.schedule_skip_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "9ff6fd49-6349-444c-93f2-315982011099",
      "name": "Create Schedule Skipped Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        2400,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12f0c58d-7a40-41ce-877e-b0e573fc4fa5",
              "leftValue": "={{ $json.has_scheduled_open }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae8bdb61-ba0e-408f-96b1-57b49460da79",
      "name": "If Scheduled Open Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -512,
        272
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'conversation_id=eq.' + $('Build Scheduling Decision').item.json.conversation_id + '&org_id=eq.' + $('Build Scheduling Decision').item.json.org_id + '&status=eq.scheduled' }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ 'cancelled' }}"
            },
            {
              "fieldId": "cancelled_at",
              "fieldValue": "={{ $('Build Scheduling Decision').item.json.created_at }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $('Build Scheduling Decision').item.json.created_at }}"
            }
          ]
        }
      },
      "id": "f4e33950-093f-4fcd-917b-1e08926ad37d",
      "name": "Cancel Scheduled Open Tasks",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -288,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab85cfa1-1b13-4916-a869-5fa1485b5763",
              "leftValue": "={{ $json.has_claimed_open }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d844a44a-2275-498a-ae6d-3f10a91a0376",
      "name": "If Claimed Open Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -64,
        272
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'conversation_id=eq.' + $('Build Scheduling Decision').item.json.conversation_id + '&org_id=eq.' + $('Build Scheduling Decision').item.json.org_id + '&status=eq.claimed' }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ 'cancelled' }}"
            },
            {
              "fieldId": "cancelled_at",
              "fieldValue": "={{ $('Build Scheduling Decision').item.json.created_at }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $('Build Scheduling Decision').item.json.created_at }}"
            }
          ]
        }
      },
      "id": "224f8ecc-75e2-4798-8404-4f9a814a1326",
      "name": "Cancel Claimed Open Tasks",
      "type": "n8n-nodes-base.supabase",
      "position": [
        160,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6475b257-a873-4845-88b5-c663f0ae1d30",
              "leftValue": "={{ $json.has_waiting_template_open }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15373110-6fb7-4201-bf91-a019c5f7b85d",
      "name": "If Waiting Template Open Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        384,
        272
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'conversation_id=eq.' + $('Build Scheduling Decision').item.json.conversation_id + '&org_id=eq.' + $('Build Scheduling Decision').item.json.org_id + '&status=eq.waiting_template_approval' }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ 'cancelled' }}"
            },
            {
              "fieldId": "cancelled_at",
              "fieldValue": "={{ $('Build Scheduling Decision').item.json.created_at }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $('Build Scheduling Decision').item.json.created_at }}"
            }
          ]
        }
      },
      "id": "6a680c26-a215-4bc3-b8b8-63fabef92856",
      "name": "Cancel Waiting Template Open Tasks",
      "type": "n8n-nodes-base.supabase",
      "position": [
        608,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f62ae728-a9a9-463a-9ba5-dd4acbc468dc",
              "leftValue": "={{ $json.any_open_to_cancel }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ac7b7de-9a83-4387-af38-cf5848a9fcf7",
      "name": "If Any Open Tasks Cancelled",
      "type": "n8n-nodes-base.if",
      "position": [
        832,
        272
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'cancelled_previous_open' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.cancelled_previous_open_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "6545f753-8b24-4bba-8ba2-4134e7febf2c",
      "name": "Create Cancel Previous Open Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1056,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1fb5a426-bec2-4257-a878-8add32d86652",
              "leftValue": "={{ $json.waiting_for_template_approval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9f94fb6-d986-4ae0-887a-f46a41ac83b7",
      "name": "If Waiting Template Approval Required",
      "type": "n8n-nodes-base.if",
      "position": [
        1280,
        272
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_tasks",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.task_status }}"
            },
            {
              "fieldId": "triggered_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "due_at",
              "fieldValue": "={{ $json.due_at }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "triggered_by_message_id",
              "fieldValue": "={{ $json.triggered_by_message_id }}"
            },
            {
              "fieldId": "org_channel_account_id",
              "fieldValue": "={{ $json.org_channel_account_id }}"
            },
            {
              "fieldId": "latest_inbound_at",
              "fieldValue": "={{ $json.latest_inbound_at }}"
            },
            {
              "fieldId": "requires_template",
              "fieldValue": "={{ $json.requires_template }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "={{ $json.template_name }}"
            },
            {
              "fieldId": "template_language",
              "fieldValue": "={{ $json.template_language }}"
            },
            {
              "fieldId": "template_status",
              "fieldValue": "={{ $json.template_status }}"
            },
            {
              "fieldId": "waiting_for_template_approval",
              "fieldValue": "={{ $json.waiting_for_template_approval }}"
            },
            {
              "fieldId": "blocked_reason",
              "fieldValue": "={{ $json.blocked_reason }}"
            }
          ]
        }
      },
      "id": "fdfe6c3c-4a5c-4994-b962-5fad86bff9a0",
      "name": "Create Waiting Template Task",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1504,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_tasks",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.task_status }}"
            },
            {
              "fieldId": "triggered_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "due_at",
              "fieldValue": "={{ $json.due_at }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "triggered_by_message_id",
              "fieldValue": "={{ $json.triggered_by_message_id }}"
            },
            {
              "fieldId": "org_channel_account_id",
              "fieldValue": "={{ $json.org_channel_account_id }}"
            },
            {
              "fieldId": "latest_inbound_at",
              "fieldValue": "={{ $json.latest_inbound_at }}"
            },
            {
              "fieldId": "requires_template",
              "fieldValue": "={{ $json.requires_template }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "={{ $json.template_name }}"
            },
            {
              "fieldId": "template_language",
              "fieldValue": "={{ $json.template_language }}"
            },
            {
              "fieldId": "template_status",
              "fieldValue": "={{ $json.template_status }}"
            },
            {
              "fieldId": "waiting_for_template_approval",
              "fieldValue": "={{ $json.waiting_for_template_approval }}"
            },
            {
              "fieldId": "blocked_reason",
              "fieldValue": "={{ $json.blocked_reason }}"
            }
          ]
        }
      },
      "id": "fbdb5a08-0ea1-416d-a1b9-83e843598aa9",
      "name": "Create Scheduled Followup Task",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1728,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'template_required' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.template_required_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "e56e462d-d229-4f02-995d-b477bf389bea",
      "name": "Create Template Required Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1728,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'waiting_template_approval' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.waiting_template_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "778467c1-1df0-48e3-a139-83e2c5210fa1",
      "name": "Create Waiting Template Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1952,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'scheduled' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.scheduled_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "ca43aef5-dc6f-4d69-b847-bdbea81a91a4",
      "name": "Create Scheduled Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1952,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "308c8482-ebc3-4f83-a63d-858462b30d6a",
              "leftValue": "={{ $('Build Scheduling Decision').item.json.due_adjusted_for_business_hours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "460a9eee-1393-47f1-a792-dadcd8efe4f8",
      "name": "If Due Adjusted For Business Hours",
      "type": "n8n-nodes-base.if",
      "position": [
        2176,
        272
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'deferred_business_hours' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.deferred_business_hours_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "069dd9a4-b5f9-4876-85e7-a764b10c3bd7",
      "name": "Create Deferred Business Hours Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        2400,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {},
      "id": "1e696899-75d0-4c09-a108-12be98f3a3b8",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2624,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.all()[0]?.json ?? {};\nreturn [\n  {\n    json: {\n      org_id: ctx.org_id ?? null,\n      conversation_id: ctx.conversation_id ?? null,\n      contact_id: ctx.contact_id ?? null,\n      created_at: new Date().toISOString(),\n      details: {\n        reason: ctx.message_skip_reason ?? 'invalid_message',\n        platform: ctx.platform ?? null,\n        message_id: ctx.triggered_by_message_id ?? null,\n        conversation_id: ctx.conversation_id ?? null,\n      },\n    },\n  },\n];"
      },
      "id": "4ee2c7b3-7135-46ea-9066-70aa8eb70719",
      "name": "Build Message Skip Log Payload",
      "type": "n8n-nodes-base.code",
      "position": [
        1952,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53563931-906d-477f-a237-4f2845dbfed7",
              "leftValue": "={{ $json.should_log_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2082b39a-5f06-4a21-89ed-eceeff1f22f6",
      "name": "If Message Skip Log Needed",
      "type": "n8n-nodes-base.if",
      "position": [
        2176,
        864
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'schedule_skipped' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.schedule_skip_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "ddf80925-3657-471b-a905-9f344e2e4bf5",
      "name": "Create Message Schedule Skipped Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        2400,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.all()[0]?.json ?? {};\nreturn [\n  {\n    json: {\n      org_id: ctx.org_id ?? null,\n      conversation_id: ctx.conversation_id ?? null,\n      contact_id: ctx.contact_id ?? null,\n      created_at: new Date().toISOString(),\n      details: {\n        reason: ctx.conversation_skip_reason ?? 'conversation_not_eligible',\n        platform: ctx.platform ?? null,\n        message_id: ctx.triggered_by_message_id ?? null,\n        conversation_id: ctx.conversation_id ?? null,\n      },\n    },\n  },\n];"
      },
      "id": "51378090-2d15-408e-858f-09068c8828e2",
      "name": "Build Conversation Skip Log Payload",
      "type": "n8n-nodes-base.code",
      "position": [
        1952,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1483d62-801e-4c27-b5d9-3c3df9abb336",
              "leftValue": "={{ $json.should_log_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b83ef8f8-d43e-439b-8146-49180ca14132",
      "name": "If Conversation Skip Log Needed",
      "type": "n8n-nodes-base.if",
      "position": [
        2176,
        576
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "followup_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "org_id",
              "fieldValue": "={{ $json.org_id }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.contact_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{ 'schedule_skipped' }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.schedule_skip_log_details }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "id": "2e3f133a-d3d5-46e3-a4d0-600da6bc7334",
      "name": "Create Conversation Schedule Skipped Log",
      "type": "n8n-nodes-base.supabase",
      "position": [
        2400,
        656
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Inbound Followup Webhook": {
      "main": [
        [
          {
            "node": "Normalize Trigger Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Trigger Input": {
      "main": [
        [
          {
            "node": "Load Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Inbound Message": {
      "main": [
        [
          {
            "node": "Build Message Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message Context": {
      "main": [
        [
          {
            "node": "If Message Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Message Valid": {
      "main": [
        [
          {
            "node": "Load Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Message Skip Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation": {
      "main": [
        [
          {
            "node": "Build Conversation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Conversation Context": {
      "main": [
        [
          {
            "node": "If Conversation Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Conversation Eligible": {
      "main": [
        [
          {
            "node": "Load Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Conversation Skip Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message Skip Log Payload": {
      "main": [
        [
          {
            "node": "If Message Skip Log Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Message Skip Log Needed": {
      "main": [
        [
          {
            "node": "Create Message Schedule Skipped Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Conversation Skip Log Payload": {
      "main": [
        [
          {
            "node": "If Conversation Skip Log Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Conversation Skip Log Needed": {
      "main": [
        [
          {
            "node": "Create Conversation Schedule Skipped Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Contact": {
      "main": [
        [
          {
            "node": "Load Followup Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Followup Settings": {
      "main": [
        [
          {
            "node": "Load Existing Followup Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Existing Followup Tasks": {
      "main": [
        [
          {
            "node": "Load Active Channel Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Channel Account": {
      "main": [
        [
          {
            "node": "Build Scheduling Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scheduling Decision": {
      "main": [
        [
          {
            "node": "If Should Skip Scheduling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Skip Scheduling": {
      "main": [
        [
          {
            "node": "Create Schedule Skipped Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Scheduled Open Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Scheduled Open Exists": {
      "main": [
        [
          {
            "node": "Cancel Scheduled Open Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Claimed Open Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Scheduled Open Tasks": {
      "main": [
        [
          {
            "node": "If Claimed Open Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Claimed Open Exists": {
      "main": [
        [
          {
            "node": "Cancel Claimed Open Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Waiting Template Open Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Claimed Open Tasks": {
      "main": [
        [
          {
            "node": "If Waiting Template Open Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Waiting Template Open Exists": {
      "main": [
        [
          {
            "node": "Cancel Waiting Template Open Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Any Open Tasks Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Waiting Template Open Tasks": {
      "main": [
        [
          {
            "node": "If Any Open Tasks Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Any Open Tasks Cancelled": {
      "main": [
        [
          {
            "node": "Create Cancel Previous Open Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Waiting Template Approval Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cancel Previous Open Log": {
      "main": [
        [
          {
            "node": "If Waiting Template Approval Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Waiting Template Approval Required": {
      "main": [
        [
          {
            "node": "Create Waiting Template Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Scheduled Followup Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Waiting Template Task": {
      "main": [
        [
          {
            "node": "Create Template Required Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template Required Log": {
      "main": [
        [
          {
            "node": "Create Waiting Template Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Waiting Template Log": {
      "main": [
        [
          {
            "node": "If Due Adjusted For Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scheduled Followup Task": {
      "main": [
        [
          {
            "node": "Create Scheduled Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scheduled Log": {
      "main": [
        [
          {
            "node": "If Due Adjusted For Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Due Adjusted For Business Hours": {
      "main": [
        [
          {
            "node": "Create Deferred Business Hours Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deferred Business Hours Log": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Message Schedule Skipped Log": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation Schedule Skipped Log": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Schedule Skipped Log": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d4300569-4033-4c43-b89a-7fc82c58be4c",
  "meta": {
    "instanceId": "fe981de90885f0d8a56f8e4f927b3ee33d1f994a1f11c74c559401477c4f2136"
  },
  "id": "aDpeHgaNJ5Sm3EUP",
  "tags": []
}