follow-ups Workflow/Follow-up Inbox Poller.json
{
  "id": "5c0cbe92-a93f-46c0-bbd9-b7978b7f84d5",
  "name": "Follow-up Inbox Poller",
  "active": false,
  "nodes": [
    {
      "id": "e3eaf558-b200-48b8-aa81-0f9dcfe0a518",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "b5dd0f3d-9c68-42f6-a1c7-1bcb147638c1",
      "name": "Call RPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://xrycghxaxqzvkmzqzzkx.supabase.co/rest/v1/rpc/get_conversations_needing_followup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"p_lookback_hours\": 48}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "98905228-81af-4151-902f-398fc0f9fc7e",
      "name": "Split RPC Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n auto-splits JSON array responses into items.\n// Handle both: array-as-items (normal) OR single item containing array (edge case).\nconst items = $input.all();\nif (!items.length) return [];\n// Case 1: n8n auto-split → each item is one row\nif (items.length > 1 || (items[0].json && items[0].json.message_id)) {\n  return items.filter(it => it.json && it.json.message_id).map(it => ({ json: it.json }));\n}\n// Case 2: single item wraps array\nconst raw = items[0].json;\nconst arr = Array.isArray(raw) ? raw : (Array.isArray(raw?.body) ? raw.body : []);\nreturn arr.filter(r => r && r.message_id).map(r => ({ json: r }));"
      }
    },
    {
      "id": "71dda956-8526-4d0f-b68a-790a0601efb0",
      "name": "Trigger Scheduler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1174105.hstgr.cloud/webhook/followup-scheduler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message_id: $json.message_id }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Call RPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RPC": {
      "main": [
        [
          {
            "node": "Split RPC Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split RPC Result": {
      "main": [
        [
          {
            "node": "Trigger Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}