follow-ups Workflow/Follow-up Dispatcher.json
{
  "name": "Follow-up Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "0da60f9f-735f-4a15-82f9-e9b82db8f14f",
      "name": "Dispatcher Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -9808,
        272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { run_id: $execution.id, now_iso: new Date().toISOString(), task_limit: 25, workflow_version: 'followup_dispatcher_v1' } }];"
      },
      "id": "f981e3f2-edd6-4212-8515-be97858a0a11",
      "name": "Seed Dispatcher Run",
      "type": "n8n-nodes-base.code",
      "position": [
        -9584,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "followup_tasks",
        "limit": "={{ $json.task_limit }}",
        "filterType": "string",
        "filterString": "={{ 'status=in.(scheduled,waiting_template_approval)&due_at=lte.' + encodeURIComponent($json.now_iso) + '&order=due_at.asc,created_at.asc' }}"
      },
      "id": "e02178f9-f7bd-4dd7-9d8c-5eb6ecd51389",
      "name": "Load Eligible Followup Tasks",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -9360,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const run = $('Seed Dispatcher Run').item.json;\nconst rows = $input.all().map((i) => i.json).filter((row) => row && row.id);\nreturn rows.map((task) => ({ json: { run, task } }));"
      },
      "id": "c0c65d45-c708-4f95-a6a7-29d7719eba69",
      "name": "Explode Eligible Tasks",
      "type": "n8n-nodes-base.code",
      "position": [
        -9136,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d82afe7a-1059-4767-b9ae-16a31fa28086",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -8912,
        272
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "2d7744fb-5f15-4f51-8036-ba6b263b5673",
      "name": "Dispatcher Run Finished",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -8688,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const run = $json.run;\nconst task = $json.task;\nreturn [{\n  json: {\n    run,\n    task,\n    task_id: task.id,\n    org_id: task.org_id,\n    conversation_id: task.conversation_id,\n    contact_id: task.contact_id,\n    platform: task.platform,\n    due_at: task.due_at,\n    latest_inbound_at: task.latest_inbound_at ?? null,\n    triggered_by_message_id: task.triggered_by_message_id ?? null,\n    requires_template: Boolean(task.requires_template ?? false),\n    template_name: task.template_name ?? null,\n    template_language: task.template_language ?? null,\n    template_status: task.template_status ?? null,\n    org_channel_account_id: task.org_channel_account_id ?? null,\n    now_iso: run.now_iso,\n    claimed_at_iso: new Date().toISOString()\n  }\n}];"
      },
      "id": "543da5b8-706e-4f0b-8bb0-64483acb4f7d",
      "name": "Normalize Task Context",
      "type": "n8n-nodes-base.code",
      "position": [
        -8688,
        -208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($json.task_id) + '&status=in.(scheduled,waiting_template_approval)' }}"
      },
      "id": "1056c616-b6a8-428f-bf53-789abebfc7a7",
      "name": "Claim Task",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -8464,
        -208
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Task Context').item.json;\nconst updatedRows = $input.all().map((i) => i.json).filter((row) => row && row.id);\nreturn [{\n  json: {\n    ...normalized,\n    claim_acquired: updatedRows.length > 0,\n    claimed_row: updatedRows[0] ?? null\n  }\n}];"
      },
      "id": "7fe27cd0-adb0-4b04-8469-c6e26a7e645b",
      "name": "Interpret Claim Result",
      "type": "n8n-nodes-base.code",
      "position": [
        -8240,
        -208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec4ad572-9f32-42cf-a4a8-7c814070d779",
              "leftValue": "={{ String($json.claim_acquired) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6f8e4f9-4c4c-4322-958e-c57a6df711d6",
      "name": "Claim Acquired?",
      "type": "n8n-nodes-base.if",
      "position": [
        -8016,
        -208
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    org_id: $json.org_id,\n    task_id: $json.task_id,\n    conversation_id: $json.conversation_id,\n    contact_id: $json.contact_id ?? null,\n    event_type: 'claimed',\n    details: {\n      run_id: $json.run.run_id,\n      claimed_at: $json.claimed_at_iso,\n      platform: $json.platform\n    },\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "f888e303-f5d2-4553-ba5d-ccdc8eed5058",
      "name": "Build Claimed Log Rows",
      "type": "n8n-nodes-base.code",
      "position": [
        -7792,
        -208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "tableId": "followup_logs"
      },
      "id": "6ce35874-b93a-4d8d-9916-1cbe8accef26",
      "name": "Write Claimed Logs",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -7568,
        -208
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inbox_conversations",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.conversation_id) + '&org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) }}"
      },
      "id": "6d003a57-77d1-49de-b79b-f55d5bdaba13",
      "name": "Load Conversation",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -7344,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inbox_contacts",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.contact_id || '') + '&org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) }}"
      },
      "id": "284c2eb4-8823-4975-82ec-d3781754095a",
      "name": "Load Contact",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -7120,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inbox_messages",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'conversation_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.conversation_id) + '&org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) + '&direction=eq.inbound&sender_type=eq.customer&order=created_at.desc' }}"
      },
      "id": "b53e3677-c502-4706-92f2-73a804007baf",
      "name": "Load Latest Inbound Message",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -6896,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "followup_settings",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) }}"
      },
      "id": "9e9f6792-4373-44fb-9ee5-d3634ec5837f",
      "name": "Load Followup Settings",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -6672,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "organizations",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) }}"
      },
      "id": "edb9725c-8e2c-42a5-9a10-4b41739cdb6d",
      "name": "Load Organization",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -6448,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "org_channel_accounts",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) + '&platform=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.platform) + '&is_active=eq.true&order=created_at.asc' }}"
      },
      "id": "d03c5305-641b-46ec-9049-8cbe3e97fca8",
      "name": "Load Org Channel Accounts",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -6224,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "whatsapp_phone_numbers",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) + '&order=is_default.desc,created_at.asc' }}"
      },
      "id": "beb757c0-a1c0-4a0b-978c-184402123cb9",
      "name": "Load WhatsApp Phone Numbers",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -6000,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "whatsapp_message_templates",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) + '&order=updated_at.desc,created_at.desc' }}"
      },
      "id": "8797947c-9732-4f07-87ff-ccee1b7f5169",
      "name": "Load WhatsApp Templates",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -5776,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "whatsapp_template_submissions",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'org_id=eq.' + encodeURIComponent($('Interpret Claim Result').item.json.org_id) + '&order=updated_at.desc,created_at.desc' }}"
      },
      "id": "643251bd-d942-43ad-8dff-0fa1fbfdf7b8",
      "name": "Load Template Submissions",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -5552,
        -208
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction parseJson(value, fallback) {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(value);\n  } catch {\n    return fallback;\n  }\n}\nfunction firstReal(nodeName) {\n  const all = $(nodeName).all().map((i) => i.json).filter((row) => row && Object.keys(row).length > 0);\n  return all.length ? all[0] : null;\n}\nfunction allRows(nodeName) {\n  return $(nodeName).all().map((i) => i.json).filter((row) => row && Object.keys(row).length > 0);\n}\nfunction getTimeZoneOffset(date, timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-US', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  });\n  const parts = dtf.formatToParts(date);\n  const map = {};\n  for (const part of parts) {\n    if (part.type !== 'literal') map[part.type] = part.value;\n  }\n  const asUTC = Date.UTC(\n    Number(map.year),\n    Number(map.month) - 1,\n    Number(map.day),\n    Number(map.hour),\n    Number(map.minute),\n    Number(map.second)\n  );\n  return asUTC - date.getTime();\n}\nfunction zonedTimeToUtc(timeZone, year, month, day, hour, minute, second = 0) {\n  const guess = new Date(Date.UTC(year, month - 1, day, hour, minute, second));\n  const offset = getTimeZoneOffset(guess, timeZone);\n  return new Date(guess.getTime() - offset);\n}\nfunction localParts(date, timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-GB', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    weekday: 'short',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  });\n  const parts = dtf.formatToParts(date);\n  const map = {};\n  for (const part of parts) {\n    if (part.type !== 'literal') map[part.type] = part.value;\n  }\n  const weekdayMap = { Mon: 1, Tue: 2, Wed: 3, Thu: 4, Fri: 5, Sat: 6, Sun: 7 };\n  return {\n    year: Number(map.year),\n    month: Number(map.month),\n    day: Number(map.day),\n    hour: Number(map.hour),\n    minute: Number(map.minute),\n    second: Number(map.second),\n    weekday: weekdayMap[map.weekday] || 1\n  };\n}\nfunction normalizeStatus(v) {\n  return String(v || '').trim().toLowerCase();\n}\nfunction approvedTemplateStatus(v) {\n  const s = normalizeStatus(v);\n  return ['approved', 'active', 'enabled', 'quality_pending', 'pending_quality_check'].includes(s);\n}\nfunction pendingTemplateStatus(v) {\n  const s = normalizeStatus(v);\n  return ['pending', 'submitted', 'in_review', 'pending_review'].includes(s);\n}\nfunction rejectedTemplateStatus(v) {\n  const s = normalizeStatus(v);\n  return ['rejected', 'disabled', 'paused'].includes(s);\n}\nfunction pickSenderAccount(contextTaskAccountId, accounts) {\n  if (contextTaskAccountId) {\n    const exact = accounts.find((a) => a.id === contextTaskAccountId && a.is_active === true);\n    if (exact) return exact;\n  }\n  return accounts.find((a) => a.is_active === true) || null;\n}\nfunction pickPhoneNumber(account, rows) {\n  if (!account) return null;\n  const candidates = rows.filter((row) => row.org_channel_account_id === account.id && (row.is_active === undefined || row.is_active === true || String(row.status || '').toUpperCase() === 'CONNECTED'));\n  if (!candidates.length) return null;\n  const defaultRow = candidates.find((row) => row.is_default === true);\n  return defaultRow || candidates[0];\n}\nfunction chooseLanguage(contact, task) {\n  const meta = parseJson(contact?.meta, {});\n  const raw = String(meta.language || meta.lang || task.resolved_language || '').trim().toLowerCase();\n  if (raw.startsWith('ar')) return 'ar';\n  return 'en';\n}\nfunction interpolateMessage(template, contact) {\n  const name = String(contact?.display_name || contact?.username || contact?.phone || 'there');\n  return String(template || '').replace(/\\{name\\}/g, name);\n}\n\nconst taskContext = $('Interpret Claim Result').item.json;\nconst task = taskContext.task || {};\nconst conversation = firstReal('Load Conversation');\nconst contact = firstReal('Load Contact');\nconst latestInboundMessage = firstReal('Load Latest Inbound Message');\nconst settings = firstReal('Load Followup Settings') || {};\nconst organization = firstReal('Load Organization') || {};\nconst senderAccounts = allRows('Load Org Channel Accounts');\nconst phoneRows = allRows('Load WhatsApp Phone Numbers');\nconst templateRows = allRows('Load WhatsApp Templates');\nconst submissionRows = allRows('Load Template Submissions');\n\nconst now = new Date(taskContext.now_iso || new Date().toISOString());\nconst orgSettings = parseJson(organization.settings, {});\nconst timeZone = String(orgSettings.timezone || 'UTC');\n\nconst base = {\n  run: taskContext.run,\n  task,\n  task_id: taskContext.task_id,\n  org_id: taskContext.org_id,\n  conversation_id: taskContext.conversation_id,\n  contact_id: taskContext.contact_id,\n  platform: taskContext.platform,\n  due_at: taskContext.due_at,\n  latest_inbound_at: taskContext.latest_inbound_at,\n  triggered_by_message_id: taskContext.triggered_by_message_id,\n  requires_template: Boolean(taskContext.requires_template ?? false),\n  template_name: taskContext.template_name,\n  template_language: taskContext.template_language,\n  template_status: taskContext.template_status,\n  org_channel_account_id: taskContext.org_channel_account_id,\n  now_iso: now.toISOString(),\n  time_zone: timeZone\n};\n\nconst result = {\n  ...base,\n  action: null,\n  terminal_type: null,\n  error_code: null,\n  error_message: null,\n  blocked_reason: null,\n  waiting_for_template_approval: false,\n  next_business_due_at: null,\n  resolved_message: null,\n  resolved_language: null,\n  sender: null,\n  whatsapp_phone: null,\n  template_name_to_send: taskContext.template_name || null,\n  template_language_to_send: taskContext.template_language || null,\n  template_status_known: normalizeStatus(taskContext.template_status || ''),\n  template_required_now: false,\n  template_approved_now: false,\n  business_hours_deferred: false,\n  log_events: [],\n  should_notify: false,\n  notification: null,\n  notification_state: parseJson(task.notification_state, {}),\n  recipient_address: null,\n  send_mode: null,\n  whatsapp_template_request_body: null,\n  whatsapp_freeform_request_body: null\n};\n\nif (!conversation) {\n  result.terminal_type = 'cancelled';\n  result.error_code = 'conversation_not_found';\n  result.error_message = 'Conversation not found.';\n  result.log_events.push({ event_type: 'cancelled', details: { reason: 'conversation_not_found' } });\n  return [{ json: result }];\n}\n\nif (String(conversation.status || '').toLowerCase() === 'closed') {\n  result.terminal_type = 'cancelled';\n  result.error_code = 'conversation_closed';\n  result.error_message = 'Conversation is closed.';\n  result.log_events.push({ event_type: 'cancelled', details: { reason: 'conversation_closed' } });\n  return [{ json: result }];\n}\n\nif (conversation.ai_paused === true) {\n  result.terminal_type = 'cancelled';\n  result.error_code = 'ai_paused';\n  result.error_message = 'Conversation AI is paused.';\n  result.log_events.push({ event_type: 'cancelled', details: { reason: 'ai_paused' } });\n  return [{ json: result }];\n}\n\nconst newestInboundAt = latestInboundMessage?.created_at || conversation.last_inbound_at || taskContext.latest_inbound_at || null;\nif (newestInboundAt && taskContext.latest_inbound_at && new Date(newestInboundAt).getTime() > new Date(taskContext.latest_inbound_at).getTime()) {\n  result.terminal_type = 'cancelled';\n  result.error_code = 'newer_inbound_reply';\n  result.error_message = 'A newer inbound customer message invalidated this follow-up.';\n  result.log_events.push({ event_type: 'cancelled', details: { reason: 'newer_inbound_reply', latest_inbound_at: newestInboundAt } });\n  return [{ json: result }];\n}\n\nconst sender = pickSenderAccount(taskContext.org_channel_account_id, senderAccounts);\nresult.sender = sender;\nif (result.platform === 'whatsapp') {\n  result.whatsapp_phone = pickPhoneNumber(sender, phoneRows);\n}\nif (!sender) {\n  result.terminal_type = 'failed';\n  result.error_code = 'sender_not_found';\n  result.error_message = 'No active sender account found for platform.';\n  result.log_events.push({ event_type: 'failed', details: { reason: 'sender_not_found', platform: result.platform } });\n  return [{ json: result }];\n}\nif (result.platform === 'whatsapp' && !result.whatsapp_phone) {\n  result.terminal_type = 'failed';\n  result.error_code = 'whatsapp_phone_not_found';\n  result.error_message = 'No usable WhatsApp phone number found for sender.';\n  result.log_events.push({ event_type: 'failed', details: { reason: 'whatsapp_phone_not_found', sender_account_id: sender.id } });\n  return [{ json: result }];\n}\n\nconst resolvedLanguage = chooseLanguage(contact, task);\nconst byChannel = parseJson(settings.followup_message_by_channel, {});\nconst byChannelAr = parseJson(settings.followup_message_ar_by_channel, {});\nlet messageTemplate = null;\nif (resolvedLanguage === 'ar') {\n  messageTemplate = byChannelAr?.[result.platform] || settings.followup_message_ar || byChannel?.[result.platform] || settings.followup_message || '';\n} else {\n  messageTemplate = byChannel?.[result.platform] || settings.followup_message || byChannelAr?.[result.platform] || settings.followup_message_ar || '';\n}\nresult.resolved_message = interpolateMessage(messageTemplate, contact);\nresult.resolved_language = resolvedLanguage;\nresult.recipient_address = contact?.phone || contact?.external_contact_id || null;\n\nif (!result.resolved_message && result.platform !== 'whatsapp') {\n  result.terminal_type = 'failed';\n  result.error_code = 'followup_message_missing';\n  result.error_message = 'No follow-up message configured.';\n  result.log_events.push({ event_type: 'failed', details: { reason: 'followup_message_missing' } });\n  return [{ json: result }];\n}\n\nif (settings.business_hours_enabled === true) {\n  const businessStart = String(settings.business_start || '09:00:00').slice(0,5);\n  const businessEnd = String(settings.business_end || '18:00:00').slice(0,5);\n  const [startHour, startMinute] = businessStart.split(':').map(Number);\n  const [endHour, endMinute] = businessEnd.split(':').map(Number);\n  const lp = localParts(now, timeZone);\n  const currentMinutes = lp.hour * 60 + lp.minute;\n  const startMinutes = startHour * 60 + startMinute;\n  const endMinutes = endHour * 60 + endMinute;\n  const inside = currentMinutes >= startMinutes && currentMinutes < endMinutes;\n  if (!inside) {\n    let y = lp.year, m = lp.month, d = lp.day;\n    const tomorrow = new Date(Date.UTC(lp.year, lp.month - 1, lp.day));\n    if (currentMinutes >= endMinutes) {\n      tomorrow.setUTCDate(tomorrow.getUTCDate() + 1);\n      const tparts = localParts(tomorrow, timeZone);\n      y = tparts.year; m = tparts.month; d = tparts.day;\n    }\n    const due = zonedTimeToUtc(timeZone, y, m, d, startHour, startMinute, 0);\n    result.terminal_type = 'deferred';\n    result.business_hours_deferred = true;\n    result.next_business_due_at = due.toISOString();\n    result.log_events.push({ event_type: 'deferred_business_hours', details: { previous_due_at: result.due_at, next_due_at: result.next_business_due_at, timezone: timeZone } });\n    return [{ json: result }];\n  }\n}\n\nif (result.platform === 'whatsapp') {\n  const latestInboundDate = newestInboundAt ? new Date(newestInboundAt) : null;\n  const hoursSinceLatestInbound = latestInboundDate ? (now.getTime() - latestInboundDate.getTime()) / 3600000 : null;\n  const policyEnabled = settings.whatsapp_template_required_after_24h === true;\n  const beyond24h = latestInboundDate ? hoursSinceLatestInbound > 24 : true;\n  const taskTemplateName = taskContext.template_name || settings.whatsapp_template_name || null;\n  const taskTemplateLanguage = taskContext.template_language || settings.whatsapp_template_language || null;\n  result.template_name_to_send = taskTemplateName;\n  result.template_language_to_send = taskTemplateLanguage;\n\n  let matchedTemplate = null;\n  if (taskTemplateName && taskTemplateLanguage) {\n    matchedTemplate = templateRows.find((row) =>\n      String(row.name || '').trim().toLowerCase() === String(taskTemplateName).trim().toLowerCase() &&\n      String(row.language || '').trim().toLowerCase() === String(taskTemplateLanguage).trim().toLowerCase() &&\n      (!row.org_channel_account_id || row.org_channel_account_id === sender.id || row.org_id === result.org_id)\n    ) || null;\n  }\n  let submission = null;\n  if (taskTemplateName && taskTemplateLanguage) {\n    submission = submissionRows.find((row) =>\n      String(row.template_name || row.name || '').trim().toLowerCase() === String(taskTemplateName).trim().toLowerCase() &&\n      String(row.language || row.template_language || '').trim().toLowerCase() === String(taskTemplateLanguage).trim().toLowerCase()\n    ) || null;\n  }\n\n  const knownStatus = normalizeStatus(matchedTemplate?.status || submission?.status || taskContext.template_status || settings.whatsapp_template_status || '');\n  result.template_status_known = knownStatus;\n\n  if (policyEnabled && beyond24h) {\n    result.template_required_now = true;\n    result.log_events.push({ event_type: 'template_required', details: { latest_inbound_at: newestInboundAt, hours_since_latest_inbound: hoursSinceLatestInbound, template_name: taskTemplateName, template_language: taskTemplateLanguage } });\n    if (matchedTemplate && approvedTemplateStatus(matchedTemplate.status)) {\n      result.template_approved_now = task.status === 'waiting_template_approval';\n      if (result.template_approved_now) {\n        result.log_events.push({ event_type: 'template_approved', details: { template_name: taskTemplateName, template_language: taskTemplateLanguage, status: matchedTemplate.status } });\n      }\n      if (result.template_approved_now && settings.notification_on_template_approved === true) {\n        result.should_notify = true;\n        result.notification = {\n          type: 'followup_template',\n          title: 'WhatsApp template approved',\n          message: 'A WhatsApp follow-up template is now approved and the follow-up is resuming.',\n          event_key: 'template_approved',\n          payload: {\n            task_id: result.task_id,\n            conversation_id: result.conversation_id,\n            platform: result.platform,\n            template_name: taskTemplateName,\n            template_language: taskTemplateLanguage,\n            status: matchedTemplate.status,\n            entity: 'followup',\n            entity_id: result.task_id\n          }\n        };\n        result.notification_state = {\n          ...(result.notification_state || {}),\n          template_approved: now.toISOString()\n        };\n      }\n      result.action = 'send_template';\n      result.send_mode = 'whatsapp_template';\n      result.whatsapp_template_request_body = {\n        messaging_product: 'whatsapp',\n        recipient_type: 'individual',\n        to: result.recipient_address,\n        type: 'template',\n        template: {\n          name: taskTemplateName,\n          language: { code: taskTemplateLanguage }\n        }\n      };\n      return [{ json: result }];\n    }\n\n    result.terminal_type = 'waiting_template_approval';\n    result.waiting_for_template_approval = true;\n    result.blocked_reason = 'template_missing_or_not_approved';\n\n    if (submission) {\n      if (rejectedTemplateStatus(submission.status)) {\n        result.log_events.push({ event_type: 'template_rejected', details: { template_name: taskTemplateName, template_language: taskTemplateLanguage, status: submission.status } });\n      } else if (pendingTemplateStatus(submission.status) || !submission.status) {\n        result.log_events.push({ event_type: 'template_submission_pending', details: { template_name: taskTemplateName, template_language: taskTemplateLanguage, status: submission.status || 'pending' } });\n      }\n    } else {\n      result.log_events.push({ event_type: 'template_submission_requested', details: { template_name: taskTemplateName, template_language: taskTemplateLanguage } });\n    }\n    result.log_events.push({ event_type: 'waiting_template_approval', details: { template_name: taskTemplateName, template_language: taskTemplateLanguage, current_status: knownStatus || null } });\n\n    const notifySubmitted = settings.notification_on_template_submitted === true && !submission;\n    const notifyApproved = settings.notification_on_template_approved === true && result.template_approved_now;\n    const notifyRejected = settings.notification_on_template_rejected === true && submission && rejectedTemplateStatus(submission.status);\n    if (notifySubmitted || notifyApproved || notifyRejected) {\n      let kind = 'template_submission_requested';\n      let title = 'WhatsApp template required';\n      let message = 'A follow-up is waiting for an approved WhatsApp template.';\n      if (notifyApproved) {\n        kind = 'template_approved';\n        title = 'WhatsApp template approved';\n        message = 'A WhatsApp follow-up template is now approved and the follow-up can resume.';\n      } else if (notifyRejected) {\n        kind = 'template_rejected';\n        title = 'WhatsApp template rejected';\n        message = 'A WhatsApp follow-up template was rejected and follow-up remains blocked.';\n      }\n      result.should_notify = true;\n      result.notification = {\n        type: 'followup_template',\n        title,\n        message,\n        event_key: kind,\n        payload: {\n          task_id: result.task_id,\n          conversation_id: result.conversation_id,\n          platform: result.platform,\n          template_name: taskTemplateName,\n          template_language: taskTemplateLanguage,\n          status: submission?.status || knownStatus || null,\n          entity: 'followup',\n          entity_id: result.task_id\n        }\n      };\n      result.notification_state = {\n        ...(result.notification_state || {}),\n        [kind]: now.toISOString()\n      };\n    }\n    return [{ json: result }];\n  }\n\n  result.action = 'send_freeform';\n  result.send_mode = 'whatsapp_freeform';\n  result.whatsapp_freeform_request_body = {\n    messaging_product: 'whatsapp',\n    recipient_type: 'individual',\n    to: result.recipient_address,\n    type: 'text',\n    text: {\n      body: result.resolved_message,\n      preview_url: false\n    }\n  };\n  return [{ json: result }];\n}\n\nif (result.platform === 'page' || result.platform === 'instagram') {\n  result.terminal_type = 'failed';\n  result.error_code = 'provider_send_not_implemented';\n  result.error_message = 'Provider sending is not implemented for this platform in this workflow.';\n  result.log_events.push({ event_type: 'failed', details: { reason: 'provider_send_not_implemented', platform: result.platform } });\n  return [{ json: result }];\n}\n\nresult.terminal_type = 'failed';\nresult.error_code = 'unsupported_platform';\nresult.error_message = 'Unsupported follow-up platform.';\nresult.log_events.push({ event_type: 'failed', details: { reason: 'unsupported_platform', platform: result.platform } });\nreturn [{ json: result }];\n"
      },
      "id": "7e7c2020-fd13-4ff7-b0f5-ed56c1e8de31",
      "name": "Build Dispatch Context",
      "type": "n8n-nodes-base.code",
      "position": [
        -5328,
        -208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e4f5bf4-9612-4a93-8cf3-7c74eb60b9d6",
              "leftValue": "={{ String($json.action || '') }}",
              "rightValue": "send_template",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39db629f-fe7b-4b81-b750-0c54084d7f74",
      "name": "Send via Template?",
      "type": "n8n-nodes-base.if",
      "position": [
        -5104,
        -208
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0328c3a9-1e51-4e51-b9e9-d595b914fd80",
              "leftValue": "={{ String($json.action || '') }}",
              "rightValue": "send_freeform",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "36e71d13-20b0-46b3-b939-ea2724e4bb54",
      "name": "Send via Freeform?",
      "type": "n8n-nodes-base.if",
      "position": [
        -4880,
        -112
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "\nconst ctx = $('Build Dispatch Context').item.json;\nconst now = new Date().toISOString();\nlet taskUpdate = { updated_at: now };\nif (ctx.terminal_type === 'cancelled') {\n  taskUpdate.status = 'cancelled';\n  taskUpdate.cancelled_at = now;\n  taskUpdate.error_message = ctx.error_message || null;\n  taskUpdate.blocked_reason = ctx.blocked_reason || null;\n} else if (ctx.terminal_type === 'skipped') {\n  taskUpdate.status = 'skipped';\n  taskUpdate.error_message = ctx.error_message || null;\n  taskUpdate.blocked_reason = ctx.blocked_reason || null;\n} else if (ctx.terminal_type === 'failed') {\n  taskUpdate.status = 'failed';\n  taskUpdate.failed_at = now;\n  taskUpdate.resolved_message = ctx.resolved_message || null;\n  taskUpdate.resolved_language = ctx.resolved_language || null;\n  taskUpdate.error_message = ctx.error_message || null;\n  taskUpdate.blocked_reason = ctx.blocked_reason || null;\n} else if (ctx.terminal_type === 'deferred') {\n  taskUpdate.status = 'scheduled';\n  taskUpdate.due_at = ctx.next_business_due_at;\n} else if (ctx.terminal_type === 'waiting_template_approval') {\n  taskUpdate.status = 'waiting_template_approval';\n  taskUpdate.waiting_for_template_approval = true;\n  taskUpdate.blocked_reason = ctx.blocked_reason || 'template_missing_or_not_approved';\n  taskUpdate.template_name = ctx.template_name_to_send || ctx.template_name || null;\n  taskUpdate.template_language = ctx.template_language_to_send || ctx.template_language || null;\n  taskUpdate.template_status = ctx.template_status_known || null;\n  taskUpdate.error_message = null;\n  taskUpdate.notification_state = ctx.notification_state || null;\n}\nreturn [{\n  json: {\n    task_id: ctx.task_id,\n    org_id: ctx.org_id,\n    conversation_id: ctx.conversation_id,\n    contact_id: ctx.contact_id,\n    task_update: taskUpdate,\n    log_events: ctx.log_events || [],\n    should_notify: Boolean(ctx.should_notify),\n    notification: ctx.notification || null\n  }\n}];\n"
      },
      "id": "ed1593f3-3051-4fb1-a3ac-76b4c198ef92",
      "name": "Build Terminal Outcome",
      "type": "n8n-nodes-base.code",
      "position": [
        -4656,
        -16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($json.task_id) }}"
      },
      "id": "68763b93-889d-4d0f-966c-2c9650ac8562",
      "name": "Apply Terminal Task Update",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -4432,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst now = new Date().toISOString();\nconst rows = (input.log_events || []).map((event) => ({\n  org_id: input.org_id,\n  task_id: input.task_id,\n  conversation_id: input.conversation_id,\n  contact_id: input.contact_id || null,\n  event_type: event.event_type,\n  details: event.details || {},\n  created_at: now\n}));\nreturn rows.map((row) => ({ json: row }));"
      },
      "id": "be547819-a273-442b-ad9f-367bc30f920f",
      "name": "Explode Terminal Logs",
      "type": "n8n-nodes-base.code",
      "position": [
        -4208,
        -16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "tableId": "followup_logs"
      },
      "id": "2772ad37-cec4-45e6-8aa5-b14751782bc3",
      "name": "Write Terminal Logs",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3984,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13e026ba-e4fa-44a1-a814-3fb9e1659435",
              "leftValue": "={{ String($('Build Terminal Outcome').item.json.should_notify) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "574786cb-10c9-4504-b0f1-18f4947e7840",
      "name": "Terminal Notification Needed?",
      "type": "n8n-nodes-base.if",
      "position": [
        -3760,
        -16
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "tableId": "notifications"
      },
      "id": "35861262-fab0-4406-a391-ac7470c69a08",
      "name": "Create Terminal Notification",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3536,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.whatsapp_phone.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sender.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.whatsapp_template_request_body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "90f53fca-e4f7-42c9-8f21-0c1fe9248f5b",
      "name": "Send WhatsApp Template",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4656,
        -400
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $json.whatsapp_phone.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sender.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.whatsapp_freeform_request_body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ed828432-f8c3-40c9-84f0-032b16d78338",
      "name": "Send WhatsApp Freeform",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4656,
        -208
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst ctx = $('Build Dispatch Context').item.json;\nconst raw = $input.all()[0].json || {};\nconst statusCode = raw.statusCode ?? 200;\nconst body = raw.body ?? raw;\nlet providerMessageId = null;\nif (Array.isArray(body.messages) && body.messages.length) {\n  providerMessageId = body.messages[0].id || null;\n}\nconst sendSuccess = statusCode >= 200 && statusCode < 300 && !body.error && !!providerMessageId;\nreturn [{\n  json: {\n    ...ctx,\n    provider_response: body,\n    provider_status_code: statusCode,\n    provider_message_id: providerMessageId,\n    send_success: sendSuccess,\n    send_error_message: sendSuccess ? null : JSON.stringify(body.error || body)\n  }\n}];\n"
      },
      "id": "ccc0598a-4ed7-46e9-a4e8-bb5fb0e3a34b",
      "name": "Interpret Provider Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -4432,
        -304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "191f896d-52ca-4273-8bd5-0c15c5932cc6",
              "leftValue": "={{ String($json.send_success) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b00aea61-00a1-4421-a6fa-08cb24afe877",
      "name": "Send Success?",
      "type": "n8n-nodes-base.if",
      "position": [
        -4208,
        -304
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "tableId": "inbox_messages"
      },
      "id": "e5afd3b0-be31-43c7-bd1d-e9856a1c871d",
      "name": "Create Outbound Inbox Message",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3984,
        -400
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Interpret Provider Response').item.json;\nconst now = new Date().toISOString();\nconst taskUpdate = {\n  status: 'sent',\n  sent_at: now,\n  resolved_message: ctx.resolved_message || null,\n  resolved_language: ctx.resolved_language || null,\n  provider_message_id: ctx.provider_message_id || null,\n  provider_response: ctx.provider_response || null,\n  org_channel_account_id: ctx.sender?.id || null,\n  waiting_for_template_approval: false,\n  blocked_reason: null,\n  template_status: ctx.template_status_known || null,\n  notification_state: ctx.notification_state || null,\n  updated_at: now\n};\nconst logEvents = [...(ctx.log_events || [])];\nlogEvents.push({ event_type: 'sent', details: { provider_message_id: ctx.provider_message_id || null, send_mode: ctx.send_mode, org_channel_account_id: ctx.sender?.id || null } });\nreturn [{\n  json: {\n    task_id: ctx.task_id,\n    org_id: ctx.org_id,\n    conversation_id: ctx.conversation_id,\n    contact_id: ctx.contact_id,\n    task_update: taskUpdate,\n    log_events: logEvents,\n    should_notify: Boolean(ctx.should_notify),\n    notification: ctx.notification || null\n  }\n}];"
      },
      "id": "7d8a5354-1c88-4d67-ae7d-92ec0d485d08",
      "name": "Build Sent Outcome",
      "type": "n8n-nodes-base.code",
      "position": [
        -3760,
        -400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($json.task_id) }}"
      },
      "id": "751c5c77-820e-4916-9cf7-d3834cc753f0",
      "name": "Apply Sent Task Update",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3536,
        -400
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst now = new Date().toISOString();\nconst rows = (input.log_events || []).map((event) => ({\n  org_id: input.org_id,\n  task_id: input.task_id,\n  conversation_id: input.conversation_id,\n  contact_id: input.contact_id || null,\n  event_type: event.event_type,\n  details: event.details || {},\n  created_at: now\n}));\nreturn rows.map((row) => ({ json: row }));"
      },
      "id": "5c229cf3-4849-4ef9-a1eb-cf6efea0aedd",
      "name": "Explode Sent Logs",
      "type": "n8n-nodes-base.code",
      "position": [
        -3312,
        -400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "tableId": "followup_logs"
      },
      "id": "4014dcf2-af47-484a-9379-fc2b9976c06b",
      "name": "Write Sent Logs",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3088,
        -400
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37189108-8f31-4b9f-8368-204067b9578e",
              "leftValue": "={{ String($('Build Sent Outcome').item.json.should_notify) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "05d09d18-fa37-4547-bd90-4ab5117f7264",
      "name": "Sent Notification Needed?",
      "type": "n8n-nodes-base.if",
      "position": [
        -2864,
        -400
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "tableId": "notifications"
      },
      "id": "f7e2027f-2055-4305-bece-239357221c14",
      "name": "Create Sent Notification",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -2640,
        -144
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst ctx = $('Interpret Provider Response').item.json;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    task_id: ctx.task_id,\n    org_id: ctx.org_id,\n    conversation_id: ctx.conversation_id,\n    contact_id: ctx.contact_id,\n    task_update: {\n      status: 'failed',\n      failed_at: now,\n      resolved_message: ctx.resolved_message || null,\n      resolved_language: ctx.resolved_language || null,\n      error_message: ctx.send_error_message || 'Provider send failed.',\n      provider_response: ctx.provider_response || null,\n      updated_at: now\n    },\n    log_events: [{ event_type: 'failed', details: { reason: 'provider_send_failed', error: ctx.send_error_message || null, send_mode: ctx.send_mode, provider_status_code: ctx.provider_status_code } }],\n    should_notify: false,\n    notification: null\n  }\n}];\n"
      },
      "id": "a3605410-b14c-46b6-a95e-9f1d2c2b7f15",
      "name": "Build Failed Send Outcome",
      "type": "n8n-nodes-base.code",
      "position": [
        -3984,
        -208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "followup_tasks",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + encodeURIComponent($json.task_id) }}"
      },
      "id": "be0c2dcb-12b1-43f9-8a9d-8f04dfeb21e6",
      "name": "Apply Failed Send Update",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3760,
        -208
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst now = new Date().toISOString();\nconst rows = (input.log_events || []).map((event) => ({\n  org_id: input.org_id,\n  task_id: input.task_id,\n  conversation_id: input.conversation_id,\n  contact_id: input.contact_id || null,\n  event_type: event.event_type,\n  details: event.details || {},\n  created_at: now\n}));\nreturn rows.map((row) => ({ json: row }));"
      },
      "id": "c2fe10ec-a99a-49cb-9a36-ba025215ef82",
      "name": "Explode Failed Logs",
      "type": "n8n-nodes-base.code",
      "position": [
        -3536,
        -208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "tableId": "followup_logs"
      },
      "id": "383af638-5f58-4e56-98a8-09888d05dc4d",
      "name": "Write Failed Logs",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -3312,
        -208
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "z847CjHeGhdoNe6y",
          "name": "digitivia AI agent supabase"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Dispatcher Schedule Trigger": {
      "main": [
        [
          {
            "node": "Seed Dispatcher Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Dispatcher Run": {
      "main": [
        [
          {
            "node": "Load Eligible Followup Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Eligible Followup Tasks": {
      "main": [
        [
          {
            "node": "Explode Eligible Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Eligible Tasks": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "Dispatcher Run Finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Task Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Task Context": {
      "main": [
        [
          {
            "node": "Claim Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Task": {
      "main": [
        [
          {
            "node": "Interpret Claim Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Claim Result": {
      "main": [
        [
          {
            "node": "Claim Acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Acquired?": {
      "main": [
        [
          {
            "node": "Build Claimed Log Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claimed Log Rows": {
      "main": [
        [
          {
            "node": "Write Claimed Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Claimed Logs": {
      "main": [
        [
          {
            "node": "Load Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation": {
      "main": [
        [
          {
            "node": "Load Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Contact": {
      "main": [
        [
          {
            "node": "Load Latest Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Latest Inbound Message": {
      "main": [
        [
          {
            "node": "Load Followup Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Followup Settings": {
      "main": [
        [
          {
            "node": "Load Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Organization": {
      "main": [
        [
          {
            "node": "Load Org Channel Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Org Channel Accounts": {
      "main": [
        [
          {
            "node": "Load WhatsApp Phone Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load WhatsApp Phone Numbers": {
      "main": [
        [
          {
            "node": "Load WhatsApp Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load WhatsApp Templates": {
      "main": [
        [
          {
            "node": "Load Template Submissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Template Submissions": {
      "main": [
        [
          {
            "node": "Build Dispatch Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dispatch Context": {
      "main": [
        [
          {
            "node": "Send via Template?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Template?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send via Freeform?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Freeform?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Freeform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Terminal Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Terminal Outcome": {
      "main": [
        [
          {
            "node": "Apply Terminal Task Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Terminal Task Update": {
      "main": [
        [
          {
            "node": "Explode Terminal Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Terminal Logs": {
      "main": [
        [
          {
            "node": "Write Terminal Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Terminal Logs": {
      "main": [
        [
          {
            "node": "Terminal Notification Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminal Notification Needed?": {
      "main": [
        [
          {
            "node": "Create Terminal Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Terminal Notification": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Template": {
      "main": [
        [
          {
            "node": "Interpret Provider Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Freeform": {
      "main": [
        [
          {
            "node": "Interpret Provider Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Provider Response": {
      "main": [
        [
          {
            "node": "Send Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success?": {
      "main": [
        [
          {
            "node": "Create Outbound Inbox Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failed Send Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Outbound Inbox Message": {
      "main": [
        [
          {
            "node": "Build Sent Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sent Outcome": {
      "main": [
        [
          {
            "node": "Apply Sent Task Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Sent Task Update": {
      "main": [
        [
          {
            "node": "Explode Sent Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Sent Logs": {
      "main": [
        [
          {
            "node": "Write Sent Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Sent Logs": {
      "main": [
        [
          {
            "node": "Sent Notification Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sent Notification Needed?": {
      "main": [
        [
          {
            "node": "Create Sent Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sent Notification": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failed Send Outcome": {
      "main": [
        [
          {
            "node": "Apply Failed Send Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Failed Send Update": {
      "main": [
        [
          {
            "node": "Explode Failed Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Failed Logs": {
      "main": [
        [
          {
            "node": "Write Failed Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Failed Logs": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "df9a7329-51eb-4280-8d2d-692630c400c5",
  "meta": {
    "instanceId": "fe981de90885f0d8a56f8e4f927b3ee33d1f994a1f11c74c559401477c4f2136"
  },
  "id": "prmN7KhJFi03Sry0",
  "tags": []
}